#left_menu{

  background-color: rgb(189, 189, 189);
  width:150px;
  height:100%;
  float: left;
  
}

#right_frame{
  height: 100%;
  width:100%;
}

#app_div{

  height:100%;
}


#root{
height:100%

}

html, body{
  height:100%;
  width:100%;
}

.page{
  height: 600px;
  width:100%;
}

